.mouse {
}

.big-circle {
  width: 30px;
  height: 50px;
  border: 2px solid white;
  border-radius: 43%;
  position: relative;
}

.small-circle {
  width: 4px;
  height: 4px;
  border: 1px solid white;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 11px;
  animation-name: mouse;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
}

@keyframes mouse {
  0% {
    position: absolute;
    top: 8px;
    left: 11px;
  }
  /* 25% {
    position: absolute;
    top: 16px;
    left: 11px;
  }
  50% {
    position: absolute;
    top: 25px;
    left: 11px;
  }
  75% {
    position: absolute;
    top: 30px;
    left: 11px;
  } */
  100% {
    position: absolute;
    top: 35px;
    left: 11px;
    opacity: 0.5;
  }
}
